<a href="https://colab.research.google.com/github/Meghakothari13/Temperature-Change-Data-Visualization/blob/main/Temperature_Change.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [83]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

## Loading Dataset

In [84]:
data = pd.read_csv("/content/Country _Temperature.csv",encoding="latin1")

In [85]:
data.head()

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,7001,January,7271,Temperature change,°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234

## Feature Selection

In [86]:
#get summary of data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9656 entries, 0 to 9655
Data columns (total 66 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     9656 non-null   int64
 1   Area          9656 non-null   object
 2   Months Code   9656 non-null   int64
 3   Months        9656 non-null   object
 4   Element Code  9656 non-null   int64
 5   Element       9656 non-null   object
 6   Unit          9656 non-null   object
 7   Y1961         8287 non-null   float64
 8   Y1962         8322 non-null   float64
 9   Y1963         8294 non-null   float64
 10  Y1964         8252 non-null   float64
 11  Y1965         8281 non-null   float64
 12  Y1966         8364 non-null   float64
 13  Y1967         8347 non-null   float64
 14  Y1968         8345 non-null   float64
 15  Y1969         8326 non-null   float64
 16  Y1970         8308 non-null   float64
 17  Y1971         8303 non-null   float64
 18  Y1972         8323 non-null   float64
 19  Y1973         8394 non-null   float64
 20  Y1974         8374 non-null   float64
 21  Y1975         8280 non-null   float64
 22  Y1976         8209 non-null   float64
 23  Y1977         8257 non-null   float64
 24  Y1978         8327 non-null   float64
 25  Y1979         8290 non-null   float64
 26  Y1980         8283 non-null   float64
 27  Y1981         8276 non-null   float64
 28  Y1982         8237 non-null   float64
 29  Y1983         8205 non-null   float64
 30  Y1984         8259 non-null   float64
 31  Y1985         8216 non-null   float64
 32  Y1986         8268 non-null   float64
 33  Y1987         8284 non-null   float64
 34  Y1988         8273 non-null   float64
 35  Y1989         8257 non-null   float64
 36  Y1990         8239 non-null   float64
 37  Y1991         8158 non-null   float64
 38  Y1992         8354 non-null   float64
 39  Y1993         8315 non-null   float64
 40  Y1994         8373 non-null   float64
 41  Y1995         8409 non-null   float64
 42  Y1996         8439 non-null   float64
 43  Y1997         8309 non-null   float64
 44  Y1998         8370 non-null   float64
 45  Y1999         8324 non-null   float64
 46  Y2000         8342 non-null   float64
 47  Y2001         8241 non-null   float64
 48  Y2002         8312 non-null   float64
 49  Y2003         8390 non-null   float64
 50  Y2004         8415 non-null   float64
 51  Y2005         8424 non-null   float64
 52  Y2006         8503 non-null   float64
 53  Y2007         8534 non-null   float64
 54  Y2008         8475 non-null   float64
 55  Y2009         8419 non-null   float64
 56  Y2010         8435 non-null   float64
 57  Y2011         8437 non-null   float64
 58  Y2012         8350 non-null   float64
 59  Y2013         8427 non-null   float64
 60  Y2014         8377 non-null   float64
 61  Y2015         8361 non-null   float64
 62  Y2016         8348 non-null   float64
 63  Y2017         8366 non-null   float64
 64  Y2018         8349 non-null   float64
 65  Y2019         8365 non-null   float64
dtypes: float64(59), int64(3), object(4)
memory usage: 4.9+ MB

In [87]:
#getting values where element is Temperature change
data=data[data["Element"]=="Temperature change"]

In [88]:
#filling null values
data = data.fillna(0)

In [89]:
data.columns

Index(['Area Code', 'Area', 'Months Code', 'Months', 'Element Code', 'Element',
       'Unit', 'Y1961', 'Y1962', 'Y1963', 'Y1964', 'Y1965', 'Y1966', 'Y1967',
       'Y1968', 'Y1969', 'Y1970', 'Y1971', 'Y1972', 'Y1973', 'Y1974', 'Y1975',
       'Y1976', 'Y1977', 'Y1978', 'Y1979', 'Y1980', 'Y1981', 'Y1982', 'Y1983',
       'Y1984', 'Y1985', 'Y1986', 'Y1987', 'Y1988', 'Y1989', 'Y1990', 'Y1991',
       'Y1992', 'Y1993', 'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999',
       'Y2000', 'Y2001', 'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007',
       'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014', 'Y2015',
       'Y2016', 'Y2017', 'Y2018', 'Y2019'],
      dtype='object')

In [90]:
#Turn years columns into rows using melt function
data=data.melt(id_vars=['Area Code', 'Area', 'Months Code', 'Months', 'Element Code', 'Element',
       'Unit'],var_name='Year', value_name='Temp Change')
data.head()

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Year,Temp Change
0,2,Afghanistan,7001,January,7271,Temperature change,°C,Y1961,0.777
1,2,Afghanistan,7002,February,7271,Temperature change,°C,Y1961,-1.743
2,2,Afghanistan,7003,March,7271,Temperature change,°C,Y1961,0.516
3,2,Afghanistan,7004,April,7271,Temperature change,°C,Y1961,-1.709
4,2,Afghanistan,7005,May,7271,Temperature change,°C,Y1961,1.412

In [91]:
data['Unit'].value_counts()

Unit
°C    284852
Name: count, dtype: int64

In [92]:
# dropping 'Months Code','Element Code', 'Unit' columns
data.drop(['Months Code','Element Code', 'Unit'], axis=1, inplace=True)

In [93]:
data.head()

   Area Code         Area    Months             Element   Year  Temp Change
0          2  Afghanistan   January  Temperature change  Y1961        0.777
1          2  Afghanistan  February  Temperature change  Y1961       -1.743
2          2  Afghanistan     March  Temperature change  Y1961        0.516
3          2  Afghanistan     April  Temperature change  Y1961       -1.709
4          2  Afghanistan       May  Temperature change  Y1961        1.412

In [ ]:
#years without the Y letter
data['Year'] = data['Year'].str[1:].astype('str')
data

In [ ]:
#Get the unique values of columns Months
data["Months"].unique()

In [ ]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December']

In [ ]:
#Get values where months is in : 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'
data = data[data['Months'].isin(months)]

In [ ]:
data['Months'].unique()

In [ ]:
data.head()

In [ ]:
# grouping data
numeric_cols = data.select_dtypes(include=['number']).columns
data = data.groupby(['Area', 'Year'])[numeric_cols].mean().reset_index()

In [ ]:
data.head()

In [ ]:
data

In [ ]:
#  getting top 10 and bottom 10 countries
top_10 = data.groupby('Area').sum().sort_values('Temp Change', ascending=False)[:10].reset_index()['Area']
bottom_10 = data.groupby('Area').sum().sort_values('Temp Change', ascending=True)[:10].reset_index()['Area']

In [ ]:
top_10

In [ ]:
bottom_10

In [ ]:
# Combine into a single DataFrame
countries = pd.concat([top_10_df, bottom_10_df]).reset_index(drop=True)

In [ ]:
data=data[data['Area'].isin(countries)]

In [ ]:
#creating dataframe storing  countries with highest temprature
data1=data[data['Area'].isin(top_10)].reset_index()

In [ ]:
data1

In [ ]:
data1 = data1.groupby(['Area']).max().reset_index()

In [ ]:
data1['Area'].unique()

In [ ]:
data1

In [ ]:
year=data[data["Year"]=="1961"].sort_values('Area Code').reset_index()
year2=data[data["Year"]=="2019"].sort_values('Area Code').reset_index()

In [ ]:
year

In [ ]:
year2

In [ ]:
overall=year[['Area','Temp Change']]

In [ ]:
overall['Temp Change2']=year2['Temp Change']

In [ ]:
overall['drop']=overall['Temp Change']-overall["Temp Change2"]

In [ ]:
#dataframe for overall drop in temprature
overall

In [ ]:
overall1=overall[overall['drop']>0]

In [ ]:
overall1

In [ ]:
rise1=data[data["Year"]=="1961"].sort_values('Area Code').reset_index()
rise2=data[data["Year"]=="2000"].sort_values("Area Code").reset_index()
rise3=data[data["Year"]=="2019"].sort_values('Area Code').reset_index()

In [ ]:
c1=rise1[['Area','Temp Change']]
c1["Temp Change2"]=rise2['Temp Change']
c1['Temp Change3']=rise3['Temp Change']
c1

In [ ]:
c1['drop1']=c1['Temp Change2']-c1['Temp Change']

In [ ]:
c1

In [ ]:
c2=c1[c1['drop1']<0.5]

In [ ]:
c2=c2[c2['drop1']>-0.5]

In [ ]:
c2['rise']=c2['Temp Change3']-c2['Temp Change2']

In [ ]:
c2

In [ ]:
c3=c2[c2['rise']>0.6]

In [ ]:
c3

## Data Visualization

In [ ]:
fig1=px.bar(data,x='Temp Change',y='Area',animation_frame='Year', hover_name='Temp Change',
      range_x=[-3.5,5.5], color='Area')
fig1.show()

# Conclusion fig. 1
The above graph showng 20 countries temperature change from 1961 to 2019.
the graph shows that as compared to 1961 some countries experienced an abnormal rise in the temprature  in 2019 whereas som countries experienced a drop in temprature change.**bold text**

In [ ]:
fig2=px.bar(data1,x='Area',y='Temp Change',title="TOP 10 COUNTRIES HAVE HIGNEST TEMPERATURE")
fig2.show()

# Conclusion fig. 2
The above graph represents top 10 countries having highest temperature over deades.
it can be seen that Svalbard and Jan Mayen Islands experienced the highest temperature i.e. 5.454083.

In [ ]:
fig3=px.bar(overall1,x='Area',y='drop',title="countries experiencing overall drop over years")
fig3.show()

# Conclusion fig. 3
the above figure represent the countries thet have experienced an overall drop in temperature over years.
Czechoslovakia has experience the highest drop i.e 0.76825 as compared to its temperature in 1961.
Singapre has experience a very less drop in temprature i.e. 0.02508333 as compared to its temperature in 1961.
the second most country that experienced the the overall drop is Pitcairn Islands i.e. 0.6144167. Countries like Yugoslav SFR, Midway Island, Niue have also experienced overall drop in temperature as compared to their temperature in 1961

In [ ]:
fig4 = px.bar(c2, x="Area", y="drop1", color='Area', title='Countries maintaing temperature till 2000')
fig4.show()

# Conclusion fig. 4
The above figure reprensts the countries that maintain their tempersture till 2000.
These countries have maintained their temperature from 1961 within range  -0.5 to 0.5 which can be considered as no major change in their temperature

In [ ]:
fig5 = px.bar(c3, x="Area", y="rise", color='Area', title='countries experiencing abnormal rise in temperature after 2000 after maintainimg temperature till 2000 ')
fig5.show()

# Conclusion fig.5
the above figure reprents the countries which shows abnomal rise in temperature or rise in temperatur at alarming rate after maintaing their temperature till 2000.
Eastern Europe shows a rise in temperature i.e 1.392333 after maintaing its temperature till 2000 ,in 2000 the temperature of Eastern Europe was 1.009417 amd in 2019 its temperature rise to 2.401750.
Similarly Marshall Island shows a rise  in temperature i.e. 0.68275 after maintaing its temperature till 2000, in 2000 the temperature of Marshall Island was -0.263583 amd in 2019 its temperature rise to 0.419167.